@model List<kayaseker.DAL.Entities.MediaPicture>

<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>İstangram</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/templatemo-style.css" rel="stylesheet" />
    <script src="~/js/vendor/modernizr-2.6.2.min.js"></script>

    <link rel="stylesheet" href="~/assets/template-assets/nicepage.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/assets/template-assets/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/assets/template-assets/nicepage.js" defer=""></script>
    <link href="~/assets/template-assets/HARİTA.css" rel="stylesheet" media="screen" />
    <meta name="generator" content="Nicepage 3.16.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body class="u-backlink-hidden u-body">

    <!-- SITE TOP -->

    <div class="site-top">
        <div class="site-header clearfix">
            <div class="container">
                <a class="site-brand pull-left"><strong>İstanbul</strong><pre>   7 Tepe İstanbul Projesi İçin Tasarlanmıştır</pre></a>
                <div class="social-icons pull-right">
                </div>
            </div>
        </div> <!-- .site-header -->
        <div class="site-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h2>İstanbul'un Sosyal Platformu<span class="blue"></span><span class="green"></span></h2>
                        <p>7 Tepe</p>
                    </div>
                </div>
            </div>
        </div> <!-- .site-banner -->
    </div> <!-- .site-top -->
    <!-- MAIN POSTS -->
    <div class="main-posts">
        <div class="container">
            <div class="row">
                <div class="blog-masonry masonry-true">
                    @foreach (var picture in Model)
                    {
                        <div class="post-masonry col-md-4 col-sm-6">
                            <div class="post-thumb">
                                <img src="~/medya/@picture.ImageData" style="background-size:cover;" alt="" />
                                <div class="title-over">
                                    <h4><a href="#">@picture.Title</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <div class="details"><span class="date">@picture.LogDate</span><span class="likes"><i class="fa fa-heart"><a href="#" class="likeThis">@picture.Like</a></i></span> <span class="comments"><a href="#">0</a></span> </div>
                                        <h4><a asp-action="uyeprofil">@picture.Owner</a></h4>
                                        <p>@picture.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.post-masonry -->
                    }


                </div>
            </div>
        </div>
    </div>


    <!-- FOOTER -->
    <footer class="site-footer">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="copyright-text">
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <fieldset>
                        <a href="#" class="btn btn-primary">H</a>
                    </fieldset>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="~/js/min/plugins.min.js"></script>
    <script src="~/js/min/main.min.js"></script>

    <!-- Preloader
    <script type="text/javascript">
        //<![CDATA[
        $(window).load(function () { // makes sure the whole site is loaded
            $('#loader').fadeOut(); // will first fade out the loading animation
            $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({ 'overflow-y': 'visible' });
        })
                                //]]>
    </script>-->
    <!-- templatemo 434 masonry -->

</body>

</html>

